/* =========================
   General styles
   ========================= */

.pad {
  padding-right: 50px;
  padding-left: 50px;
}

.Colorh1 {
  color: #556b2f;
  font-size: 36px;
}

.Colorh2 {
  color: #8f9779;
  font-size: 30px;
}

.Colorh3 {
  color: #000000;
  font-size: 25px;
}

.colorp {
  color: #333333;
  font-size: 16px;
}

.border-down {
  border-bottom: 3px solid;
  color: #556b2f;
}

.border-marge {
  width: 90%;
  margin: 0 auto;
}
/* =========================
   navbar section styles
   ========================= */

.nav-link {
  color: #4b5320;
  border: 1px solid black; /* Ajoute une bordure noire de 1 pixel */
  padding: 5px 15px; /* Ajuste la marge intérieure pour l'espacement */
}

.nav-item a.nav-link.active {
  background-color: #556b2f;
  color: white;
}

.nav-pills .nav-link:hover {
  background-color: #8f9779;
  color: #4b5320;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-pills {
    margin-top: 15px; /* Ajoutez un espace entre le logo et les liens en colonne */
  }
}

/* =========================
   Inscription and connexion section styles
   ========================= */

.form-container {
  position: relative;
  border-radius: 0.75rem;
  width: 610px;
  left: 50%;
  transform: translate(-50%);
  background-color: #8f9779;
  padding: 2rem;
  color: #000000;
  text-align: center;
}

.form-position {
  position: relative;
  background-color: #1a261a;
  border-radius: 15px;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .form-container {
    width: 450px;
  }
  .input-group input {
    font-size: 9.7px;
  }
}

@media screen and (max-width: 500px) {
  .form-container {
    width: 340px;
  }
  .input-group input {
    font-size: 6.7px;
  }
}

@media screen and (max-width: 280px) {
  .form-container {
    width: 250px;
  }
  .input-group input {
    font-size: 4.2px;
  }
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.input-group label {
  display: block;
  color: #000000;
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border: 1px solid rgba(55, 65, 81, 1);
  background-color: #2e2f31;
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group select {
  width: 100%;
  border: 1px solid rgba(55, 65, 81, 1);
  background-color: #2e2f31;
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group select {
  display: block;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: #1f4e69;
  text-decoration: none;
  font-size: 14px;
}

.sign {
  display: block;
  width: 100%;
  background-color: #556b2f;
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #000000;
}

/* =========================
   dashboard home section styles
   ========================= */

.image-center {
  height: 550px;
  width: 100%;
  max-width: 100%;
}

.btn-color {
  background-color: #556b2f;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: 0px solid;
}

.btn-color:hover {
  background-color: #8f9779;
  color: #fff;
}

/* Styles pour le curseur de défilement horizontal */
#reservationContainer {
  overflow-x: auto; /* Permet le défilement horizontal */
  -webkit-overflow-scrolling: touch; /* Améliore le défilement sur les appareils tactiles */
}

/* Styles pour la barre de défilement WebKit (Chrome, Safari) */
#reservationContainer::-webkit-scrollbar {
  height: 10px; /* Hauteur de la barre de défilement */
}

/* Styles pour la poignée de la barre de défilement WebKit */
#reservationContainer::-webkit-scrollbar-thumb {
  background-color: #888; /* Couleur de fond de la poignée */
  border-radius: 5px; /* Bordure arrondie de la poignée */
}

/* Styles pour la barre de défilement pour les autres navigateurs */
#reservationContainer scrollbar {
  height: 10px; /* Hauteur de la barre de défilement */
}

/* Styles pour la poignée de la barre de défilement pour les autres navigateurs */
#reservationContainer scrollbar-thumb {
  background-color: #888; /* Couleur de fond de la poignée */
  border-radius: 5px; /* Bordure arrondie de la poignée */
}

/* =========================
   Profil section styles
   ========================= */

.left {
  padding-left: 70px;
}

.card {
  margin-left: 50px; /* Change this to the desired left margin */
  margin-right: 50px; /* Change this to the desired right margin */
  background-color: #c7c7c7;
  border-radius: 1.375rem;
}

.form-mdp {
  display: block;
  width: 25%;
  padding: 0.375rem 0.75rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

/* =========================
   Search section styles
   ========================= */

.form-width {
  width: 55%;
}

/* =========================
   footer section styles
   ========================= */

/* Flexbox layout for custom row */
.custom-row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.border-up {
  border-top: 3px solid;
  color: #556b2f;
}

.color_footer h5 {
  color: #000000;
  font-size: 20px;
}

.color_footer p {
  color: #000000;
  font-size: 14px;
  margin-bottom: 5px;
}

.color_footer a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
